<div class="container">

  <h1 class="text-center">LogiNext Solutions</h1>

  <div class="text-center search-box"> 
    <input type="text" placeholder="Search Box" ng-model="search.zipcode">
  </div>

  <!-- Table Container Container -->
  <div class="table-body">     
      <table class="table table-bordered rateTable">
        <tbody>
           <thead>
                <tr>
                  <th>Zipcode</th>
                  <th>Latitude</th>
                  <th>Longitude</th>                
                </tr>
              </thead>
            <tr 
              class="highlight" 
              ng-repeat="d in dataList | filter:search:strict" 
              ng-if="d.zipcode" 
              ng-click="setSelectedItem(d)" 
              style="cursor:pointer;"
              ng-class="{'selectedCss' : d.zipcode == selectedObj.zipcode}">

                <td>{{d.zipcode}}</td>
                <td>{{d.latitude}}</td>
                <td>{{d.longitude}}</td>                  
            </tr>
        </tbody>
    </table>

  </div> 

  <div class="row align-row" ng-show="data.length > 8 && !search.zipcode">
      <ul uib-pagination max-size="4" force-ellipses="true" boundary-links="true" items-per-page="8" total-items="data.length" ng-model="currentPage" ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" style="float: right;"></ul>
  </div>

  <!-- Goole Map Container -->
  <div class="map-container">   
     <ng-map default-style="true" center="{{selectedObj.latitude}}, {{selectedObj.longitude}}" zoom="13">
      <marker 
              id="markerId" 
              position="{{selectedObj.latitude}}, {{selectedObj.longitude}}"
              on-click="map.showInfoWindow('infoWindow')">
      </marker>     

      <info-window id="infoWindow" visible-on-marker="markerId">
        <div>
          <div id="siteNotice"></div>
          <h3 id="firstHeading" class="firstHeading">{{selectedObj.zipcode}}</h3>
          <div id="bodyContent">
            <label>Latitude : </label>{{selectedObj.latitude}} <br/>
            <label>Longitude : </label>{{selectedObj.longitude}} <br/>
          </div>
        </div>
      </info-window>

    </ng-map> 

  </div>

</div> <!-- END Continer -->
