.container .search-box {
	margin: 15px;
}
.container .search-box input{
	padding: 5px;
}

.container .table-body {
	height: 360px;
    overflow-y: auto;
    margin-bottom: 20px;
    border: 2px solid;
}
.selectedCss {
	background-color: burlywood;
}

.map-container {
	margin-bottom: 50px;
}

.ng-map-info-window {
	background-color: navy;
	color: #fff;
}
.ng-map-info-window div:first-child > div:nth-child(1) {
	border-top-color: navy !important;
}
.ng-map-info-window div:first-child > div:nth-child(3) div {
	background-color: transparent !important;
}
.ng-map-info-window div:first-child > div:nth-child(4) {
	background-color: transparent !important;
}
